@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
body {
  min-height: 100dvh;
}
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}
::-webkit-scrollbar {
  width: 7px;
  scrollbar-color: #c0c0c0;
}
::-webkit-scrollbar-thumb {
  background: #6a0dad;
  border-radius: 10px;
}

::selection {
  color: white;
  background: #6a0dad;
}
.login_img_section {
  background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://images.unsplash.com/photo-1650825556125-060e52d40bd0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)
      center center;
}
